@primary: #daa520;

.title {
  background: rgb(121, 242, 157);
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 999;
}

@media (max-width: 985px) {
  .stickyHeader {
    display: none;
  }

  .nav {
    display: none;
  }

  .content {
    padding: 50px 0 20px !important;

    .childrenContent {
      width: 100vw !important;
      padding: 20px;

      .opeartion {
        display: none !important;
      }
    }
  }

  .mobileHeader {
    display: flex !important;
    padding: 20px !important;
  }

  .rightContent {
    display: none;
  }

  .PageTitle {
    display: none;
  }

  .comment {
    display: flex;
    flex-direction: column;

    .comment_item {
      width: 100% !important;
      margin: 5px 0;
    }
  }
}

@media (min-width: 985px) {
  .childrenContent {
    padding: 10px 20px;
  }

  .mobileHeader {
    padding: 20px;
  }

  .rightContent {
    width: 20vw;
    // background-color: #fafafa;
  }

  .content {
    margin-left: 20vw;

    .opeartion {
      display: flex !important;
    }
  }

  .PageTitle {
    display: block;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px !important;

  .right {
    display: flex;
    align-items: center;
  }
}

.content {
  position: relative;
  min-height: 280px;
  display: flex;

  .childrenContent {
    width: 60vw;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 50px 35px 20px;
    min-height: 100vh;

    :global {
      .ant-spin-nested-loading,
      .ant-spin-container {
        height: 100%;
      }
    }
  }
}

.opeartion {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;

  .item {
    border-radius: 50%;
    transition: 0.5s;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border: none;
      background-color: var(--primaryColor);
    }
  }
}

.nav {
  animation: ease 0.3s;
  width: 20vw !important;
  position: fixed;
  top: 0;
  left: 0;
}

.headerCover {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 13px;
  border-bottom: none;
  border-right: 4px solid @primary;
  // background: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;

  a:nth-child(1) {
    font-size: 1.5rem;
    text-align: right;
  }
}

.headerMb {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

.footer {
  text-align: center;
  margin: 30px 0 10px;
  padding-top: 24px;
}

.mobileHeader {
  display: none;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  // background: rgba(253, 253, 253, .7);
  backdrop-filter: blur(1em);
  padding: 1em 0.5em;
  border-bottom: 2px solid @primary;
}

.drawer {
  // backdrop-filter: blur(1px);

  .mobileMenu {
    padding: 20px;
    text-align: center;

    .item {
      text-align: center;
      margin: 15px 0;
      line-height: 1.6;
      font-size: 1.2em;
      cursor: pointer;
      transition: color 0.4s;

      &:hover {
        color: var(--primaryColor) !important;
      }
    }
  }
}

.flex {
  display: flex;
  align-items: center;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  .comment_item {
    width: 23%;
  }
}

.comment-list {
  margin-top: 2em;
  padding-left: 0;
  font-size: 13px;

  .comment-body:not(.comment-children .comment-body) {
    border-bottom: 1px solid var(--light-bg);
    padding-top: 0.2em;
  }

  .comment-body-inner {
    display: flex;
    margin: 1em 0;

    .comment-avatar {
      width: 40px;

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        max-width: fit-content;
      }

      .comment-reply {
        display: block;
        text-align: center;
        margin-top: 0.5em;
      }
    }

    .comment-main {
      padding: 0 1em;
      display: block;
      width: 100%;

      .comment-content {
        display: block;

        p {
          margin: 0 !important;
        }
      }

      .comment-meta {
        display: flex;
        flex-wrap: wrap;
        margin: 12px 0;

        span {
          display: block;
          margin-top: 0.2em;
          margin-right: 5px;
        }
      }

      .comment-meta .comment-author a {
        padding: 0.2em 0.4em;
        display: inline-block;
        background: var(--light-bg);
        border-radius: 2px;
        line-height: 1;
        margin-right: 0.5em;
        white-space: nowrap;
      }
    }
  }

  .comment-children {
    padding-left: 3.5em;
  }
}
