@font-face {
  font-family: typewriterblack;
  src: url("./assets/fonts/HarmonyOS_Sans_SC_Medium.subset.woff2");
}

@font-face {
  font-family: NotoSerif;
  src: url("http://rluot02vo.hd-bkt.clouddn.com/fonts/Stone-Serif-Sem-ITC-TT-Semi.ttf")
    format("woff2");
  font-weight: 600;
  font-size: 18px;
}

@font-face {
  font-family: ZCOOLXiaoWei;
  src: url("http://rluot02vo.hd-bkt.clouddn.com/fonts/ZCOOLXiaoWei-Regular.ttf")
    format("woff2");
}

@import "~video-react/dist/video-react.css";

:root {
  --text-color: #333;
  --text-gray: #999;
  --light-bg: rgb(242, 242, 242);
  --light-gray-bg: rgba(0, 0, 0, 0.05);
  --gray-bg: rgba(0, 0, 0, 0.2);
  --overlay-bg: rgba(255, 255, 255, 0.95);
  --white-or-black: #fff;
  --primary-color: #daa520;
}

// 谷歌、360、QQ浏览器————（ webkit 内核的浏览器 ）
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 9px;
}

/*定义滚动条的轨道，内阴影及圆角*/
::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 19px;
}

/*定义滑块，内阴影及圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 19px;
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.4);
}

html,
body,
#root,
section,
div {
  font-family: NotoSerif, typewriterblack !important;
  --primaryColor: #daa520;
  scroll-behavior: smooth;
  font-size: 105%;
  animation: 0.5s;
}

body {
  margin: 0;
  font-family: NotoSerif, typewriterblack !important;
  scroll-behavior: smooth;
  word-break: break-all;
}

div,
p,
span,
a,
b,
i,
h1,
h2,
h3,
label {
  font-family: NotoSerif, typewriterblack !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  line-height: 1.75;
}

hr {
  margin: 2.6em auto;
  margin-top: 1.7em;
  border: none;
  display: block;
  box-sizing: content-box;
  height: 0;
  overflow: visible;

  &::before {
    color: var(--primary-color);
    font-weight: 800;
    font-size: 1.1em;
    display: block;
    content: "* * *";
    text-align: center;
    letter-spacing: 0.3em;
  }
}

ul,
ol {
  // padding-left: 1.2em !important;
  line-height: 1.75;
}

img {
  display: block;
  width: 100%;
}

@media (max-width: 1200px) {
  .post-content,
  .post-content .bracketdown-post {
    max-width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s;
}

.ant-layout {
  transition: background 1s !important;
}

.ant-segmented,
.ant-segmented .ant-segmented-item {
  border-radius: 100vw;
}

.ant-menu {
  .ant-menu-item-selected {
    color: #000;
  }
}

.ant-spin {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  overflow-y: unset;
  max-height: 98%;
}

.video-react .video-react-poster {
  background-color: #fff;
}

// .video-react-controls-enabled {
//   margin: 0 auto;
// }
.video-react .video-react-big-play-button {
  font-size: 24px;
  line-height: 45px;
  height: 45px;
  width: 45px;
  border: 0.06666em solid rgba(43, 51, 63, 0.7);
  border-radius: 50%;
}

.video-react .video-react-big-play-button.video-react-big-play-button-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0;
  margin-left: 0;
}

.video-react-control-bar {
  background-color: #000 !important;
}

.aplayer-list-title,
.aplayer-title {
  color: #000;
}

.headerTitle {
  // font-family: ZCOOLXiaoWei !important;
  font-weight: 500;
  font-size: 24px;
}

.post-content h2,
.comment-content h2 {
  margin: 1em 0;
  font-size: 1.28571em;
  border-left: 0.3em solid var(--primary-color);
  padding-left: 0.5em;
  line-height: 1;
  font-weight: 600;
}

.post-content .bracketdown-post {
  // border-color: var(--gray-bg);
  border-width: 2px;
  padding: 1em 1.5em;
}

.post-content a,
.comment-content a {
  border-bottom: 2px solid var(--light-bg);
  transition-property: border, opacity, color;
  box-sizing: border-box;
  transition: 0.3s;

  &:hover {
    border-color: var(--primary-color);
  }
}

.bracketdown-post {
  display: block;
  margin: 1em auto;
  padding: 0.5em 1.5em;
  border: 1px solid #ccc;
  max-width: 75%;
  width: fit-content;

  .bracketdown-post-title {
    margin: 0.5em 0;
    font-size: 1.2em;
  }

  .bracketdown-post-excerpt {
    color: #666;
    font-size: 0.9em;
  }

  .bracketdown-post-meta {
    display: flex;
    justify-content: space-between;
  }
}

.post-content .bracketdown-post:hover {
  transition: border 0.3s;
  border-color: var(--primary-color);
  cursor: pointer;
}

.post-content ul li,
.comment-content ul li {
  list-style-type: square;
}

.comment-closed {
  padding: 0 0.8em;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  button {
    border: none;
    background: transparent;
    color: var(--text-color);
    cursor: pointer;
    user-select: none;
    font-size: 0.9rem;
  }
}

.bracketdown-block {
  border: 1px dashed var(--primary-color) !important;
  position: relative;
  margin-top: 0.8em;
  border-radius: 2px;
  padding: 0.8em;

  &::before {
    content: "NOTICE";
    font-size: 0.7em;
    // color: #fff;
    position: absolute;
    top: -0.7em;
    left: 1.1em;
    background: var(--primary-color);
    font-weight: 400;
    padding: 0 0.5em;
  }
}
